@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");
.header {
  display: flex;
  margin: 32px 40px 0px 40px;
  align-items: center;
  justify-content: center;
}

.header__logo {
  font-family: DM Serif Display;
  font-weight: 600;
  font-size: 23px;
  line-height: 32px;

  color: #15222f;
}

.header__search {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: none;

  background: #ffffff;
  /* shadow: popover */

  box-shadow: 0px 16px 32px rgba(29, 38, 102, 0.08);
  border-radius: 30px;
  height: 56px;
  width: 427px;
  font-size: 23px;
  margin-left: 121px;
}

.header__search:focus {
  outline: none;
}

.header__categories-dropdown {
  height: 56px;
  width: 193px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  border: none;
  margin-left: 40px;
}

.header__language {
  font-family: Assistant;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
}

.header__management {
  margin-left: 83px;
  display: flex;
  align-items: center;
}

.header__delivery-address {
  display: flex;
  margin-left: 40px;
}

.header__truck-icon {
  margin-right: 12px;
}

.header__person-icon {
  margin-left: 40px;
}

.header__basket-icon {
  margin-left: 44px;
}

.header__basket-icon svg path {
  stroke: #15222f;
}
