@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
.section-one {
  max-height: 800px;
  /* width: 100%; */
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)); */
  background-blend-mode: color-burn, normal;
}

img {
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* filter: brightness(90%); */
}

.section-one__title {
  width: 427px;
  height: 200px;
  position: absolute;
  top: 260px;
  left: 40px;
  color: #ffffff;
}
.section-one__details {
  position: absolute;
  width: 427px;
  height: 48px;
  left: 40px;
  top: 492px;

  /* h5 regular */

  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  /* or 126% */

  /* white */

  color: #ffffff;

  opacity: 0.72;
}

.h1 {
  font-family: DM Serif Display;
  font-style: normal;
  font-size: 73px;
  line-height: 100px;

  color: #ffffff;
}

.h5 {
  font-family: "Barlow", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
